/* .layout{
    position: relative;
    background-color: bisque;
    overflow: hidden;
    padding: 0;
    display: flex;
    flex-direction: row;
} */


.layout {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 2rem;
}


.content {
  min-height: 70vh;
  margin-top: 2rem;
}